{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">

    {{ if not (in (slice "Posts" "Projects" "Events") .Title) }}
      <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}

    {{ if in (slice "rse_post" "tech_post" "event") .Section }}
      <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}

    {{ if .Page.Params.include_toc }}
    {{ partial "toc.html" . }}
    {{ end }}


    <div class="article-content">
      {{ .Content }}
    </div>

    {{ if eq .Title "Posts" }}
      {{ partial "list-of-posts.html" . }}
    {{ else if eq .Title "Projects" }}
      {{ partial "list-of-projects.html" . }}
    {{ else if eq .Title "Events" }}
      {{ partial "list-of-events.html" . }}
    {{ else if eq .Title "Courses" }}
      {{ partial "list-of-courses.html" . }}
    {{ end }}

  </article>

</main>

{{ partial "footer.html" . }}
