<nav class="list-item">

  <div class="project-main-listing">

    <div class="project-image">
      <a href="{{ .Permalink }}">
        <img src="{{ .Site.BaseURL }}images/{{ .Page.Params.image }}" alt="{{ .Page.Params.imagealt | markdownify}}"
          width=100%>
      </a>
    </div>

    <div class="project-particulars">
      <div class="project-particulars-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
      <div class="project-particulars-client">
        {{ .Page.Params.client | markdownify }}
      </div>
      <div class="project-particulars-description">
        {{ .Page.Params.description | markdownify }}
      </div>
    </div>

  </div>

</nav>